.header {
  background-color: var(--white);
  border-bottom: 1px solid #ECECEC;
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
  
  @media (min-width: 768px) { 
    padding-top: 21px;
    padding-bottom: 21px;
    height: 80px;
  }
  
  @media (min-width: 1200px) { 
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.header-container,
.header-nav {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav-list {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav__item {
  margin-right: 50px;
  
  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;  

  @include font(500, 14px, 1.14, var(--title-grey),  0.02em);
  
  @include main-transition(color);
  
  &:hover,
  &:focus {
    color: var(--main-blue);
  }
}

.nav__link--current {
  position: relative;
  color: var(--main-blue);

  &::after {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
  
    content: "";
    
    width: 100%;
    height: 4px;
    background-color: var(--main-blue);
    border-radius: 2px;
  }
}

.header-contacts {
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-left: auto;
    align-items: center;
  }

  @media (min-width: 1200px) {
    display: flex;
  }
}

.contacts__item {
  margin-bottom: 10px;
  align-items: center;
  
  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    margin-right: 50px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  @include font(500, 12px, 1.14, var(--text-grey), 0.02em);
  
  &:hover,
  &:focus {
    color: var(--main-blue);
  }

  @media (min-width: 1200px) { 
    @include font(500, 14px, 1.14, var(--text-grey), 0.02em);
  }
}

.contacts__icon-tablet {
  fill: currentColor;
  margin-right: 8px;  
  
  @media (min-width: 1200px) {
    display: none;
  }
}

.contacts__icon-desktop {
  display: none;
    
  @media (min-width: 1200px) {
    margin-right: 10px;  
    fill: currentColor;
  }
}
