
/* Фильтр кнопок */

.filter-list {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}

.filter__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.filter__btn {
  padding: 6px 22px;
  
  background-color: var(--light-back);
  border: none;
  border-radius: 4px;
 
  @include font(500, 16px, 1.62, var(--title-grey), 0.03em);
  text-align: center;

  outline: none;

  @include main-transition3(color, box-shadow, background-color);

  &:hover,
  &:focus {
    background-color: var(--main-blue);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

}

/* Список-портфолио */

.portfolio__item {
  flex-basis: calc(100% / 3 - 30px);

  background-color: var(--white);
}

.portfolio__link {
  display: block;

  @include main-transition2(box-shadow, outline);
 
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
  }

  &:hover .portfolio-thumb::before,
  &:hover .portfolio-thumb__text {
    opacity: 1;
    transform: translateY(0);
  }
}

.portfolio-content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.portfolio-content__title {
  margin-bottom: 4px;

  @include font(700, 18px, 2, var(--title-grey), 0.06em);
}

.portfolio-content__text {
  margin: 0;

  @include font(400, 16px, 1.87,  var(--text-grey), inherit);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
  height: 294px;

  &::before {
    display: inline-block;
    content: "";
    position: absolute;
      
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    
    transform: translateY(101%);
    @include main-transition(transform);
  }
}

.portfolio__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.portfolio-thumb__text {
  position: absolute;
  top: 0;
  opacity: 0;
  
  margin: 0;
  padding: 63px 24px;

  @include font(inherit, 18px, 1.56,  var(--white), inherit);
  
  transform: translateY(100%);
  @include main-transition(transform);
}