.social-networks {
  display: flex;
  width: 206px;
  height: 44px;
  justify-content: space-between;
}

.social__link {
  @include flexible();
  
  height: 44px;
  width: 44px;
  

  @include main-transition4(color, background-color, border-radius, outline);
  
  &:hover, 
  &:focus {
    color: var(--white);
    background-color: var(--main-blue);
    outline: none;
  }
}

.social__team-link {
  color: #AFB1B8;
  border-radius: 50%;
}

.social__join-link {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social__icon {
  fill: currentColor;
}